@font-face {
	font-family: "Airstrike";
	src: url(FONTS/airstrike.ttf);
}
@font-face {
	font-family: "Monofonto";
	src: url(FONTS/monofonto.ttf);
}
*{
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url(IMG/fondorojo2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.cuerpo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.principal{
	height: 1000px;
	width: 100%;
	margin: 5px auto;
	padding: 0.5em;
}
.header{
	height: 20%;
	border-radius: 15px;
	margin: 1em 0;
}
.menu{
	width: 300px;
	margin: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contenido{
	height: 55%;
	background-color: #A4A4A4;
	border-radius: 15px;
	margin: 1em 10px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer{
	font-family: "Airstrike";
	font-size: 15px;
	color: #DCDBDE;
	height: 5%;
	border-radius: 15px;
	margin: 1em;
	padding: 4em;
	align-items: center;
}
.centro{
	height: 93%;
	width: 70%;
	background-color: #0B3861;
	border-radius: 15px;
	margin: 1em;
	color:#DCDBDE;
	padding: 10px;
}
.lateral{
	height: 93%;
	width: 20%;
	background-color: #0B3861;
	color:#DCDBDE;
	border-radius: 15px;
	margin: 1em;
	padding: 8px;
}
.logo{
	height: 80%;
	width: 20%;
	float: left;
	border-radius: 15px;
	margin: 1em;
	padding: 5px;
	align-content: center;
}
img#LogoIMG{
	border: 3px;
	border-radius: 25%;
	align-self: center;
	height: 100%;
	width: 180px;
}
.nombre{
	align-content: center;
	height: 80%;
	width: 70%;
	background-color: #0B3861;
	float: right;
	border-radius: 15px;
	margin: 1em;
}
.nombreEmp{
	align-self: center;
	margin: 0.2em;
	font-family: "Airstrike";
	font-size: 100px;
	color: #DCDBDE;
}
ul{
    list-style: none;

}

.nav li a{
	margin-bottom: 10px;
	border-radius: 10px;
    text-align: center;
    background-color: #0B3861;
    color:#DCDBDE;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
    font-family: "Airstrike";
    font-size: 32px;
}
.nav li a:hover{
    background-color: #564AED;
}
.nav{
	position:relative;
}
.nav li ul{
    display:none;
    position: absolute;
    left: calc(100% + 4px);
    top: 10px;
    min-width: 140px;
    background-color: #0B3861;
    border-radius: 10px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position:relative;
}
.nav li ul li ul{
    right: -140px;
    top:0px;
}
.intro{
	font-family: "Monofonto";
	font-size: 28px;

}
.desc{
	font-family: "Monofonto";
	font-size: 22px;
	text-align: justify;
}
.off{
	font-family: "Monofonto";
	font-size: 15px;
	text-align: justify;
	align-self: center;
}
.boton{
	align-self: center;
	background-color:#DCDBDE;
}
.staff{
	height: 120px;
	width: 90px;
}
.qs{
	height:80px; 
	width:160px;
	border: 3px;
	border-radius: 10px;
}
.inst{
	height:95px; 
	width:160px;
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border: 3px;
	border-style: inset;
	border-radius: 25px;
}
.banderas{
	height:65px; 
	width:130px;
	margin-top: 0.3em;
}
.list{
	margin-left: 1.7em;
}
.pic{
	float: right;
}
.piccon{
	height: 135px;
	width: 250px;
	margin: 4px;
	border: 4px;
	border-style: outset;
	border-radius: 15px;
}
.map{
	height: 175px;
	width: 220px;
	border-style: outset;
}
.ub{
	font-size: 17px;
}
.h1login{
	font-family: "Airstrike";
	color: white;

	font-size: 55px;
}
.formulario{
	align-content: center;
	border-radius: 7px;
	border-style: dotted;
}
.perif{
	margin: 15px;
	border: 5px;
	border-style: outset;
	border-radius: 15px;
	height: 135px;
	width: 220px;
}

.centro-login{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 93%;
	width: 70%;
	background-color: #0B3861;
	border-radius: 15px;
	margin: 1em;
	color:#DCDBDE;
	padding: 10px;
}
.titulo-login{
	background-image: url(IMG/gifFondo.gif);
	border-radius: 10px 10px 0px 0px;
}
.contenedor-login{
	width: 95%;
	padding: 15px;
	font-family: "Airstrike";
	color: #848484;

}
.formulario-login{
	background: white;
	margin-top: 150px;
	width: 500px;
	margin: auto;
	border-radius: 10px;
	font-family: "Monofonto";
}
h1{
	padding-top: 20px;
	text-align: center;
	color: #1A2537;
	font-size: 40px;
}.input-login{
	text-align: center;
	font-size: 20px;
	width: 80%;
	padding:10px;
	border: none;
}
.input-cont{
	margin-bottom: 15px;
	margin-left: 24px;
	width: 87%;
	border: 1px solid #AAA;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: dotted;
	font-family: "Monofonto";	
}
.button{
	border: none;
	margin-left: 10px;
	width: 95%;
	font-size: 20px;
	color: white;
	background: #1A2537;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Airstrike";
}
.button:hover{
	background: cadetblue;
}
p{
	text-align: center;
}
.link{
	text-decoration: none;
	color: #1A2537;
}
.link:hover{
	color: cadetblue;
}
.contenedor-galeria{
	width: 600px;
	height: 320px;
	overflow: hidden;
	margin: 50px auto;
	border-radius: 10px;
}
.fotosGal{
	width: 600px;
	height: 320px;
	border-style: inset;
	border: 10px;
}
.divgalerias{
	width: 670px;
	height: 350px;
	margin-left: 55px; 
	background-color: #0A1B2A;
	border-style:outset;
	border-radius: 14px; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.proyectos-titulo{
	background:#A4A4A4;
	border-radius: 10px;
	border-style: inset;
	color: white;
}
.pro{
	color: white;
}


.abrir{
	display: none;
	width: 30px;
	padding: 5px 5px 0;
	margin: 20px;
	border-radius: 5px;
	border: 1px solid #24f;
	color: #fff;
}

.linea{
	display: block;
	height: 5px;
	background-color: #fff;
	margin-bottom: 5px;
}

.cerrar{
	display: none;
	text-decoration: none;
	color: #fff;
	font-size: 2.5em;
	padding: 10px;
	float: right;
}


@media (max-width: 900px){
	.abrir{
		display: block;
	}
	.cerrar{
		display: inline-block;
	}
	img#LogoIMG{
		height: 60%;
		width: 120px;
	}
	.nombre{
		height: 50%;
	}

	.nombre h1{
		height: 100%;
		padding: calc(100% -10px);
		margin: 0;
		font-size: 4em;
	}
	.cuerpo{
		flex-direction: column;
	}
	.menu{
		height: 100vh;
		width:200px; 
		position: fixed;
		top: 100vh;
		left: 0;
		transition: 0.6s;
		width: 100%;
	}
	.desplegado{
		top: 0;
		background-color: #0A1B2A; 
	}
	.nav{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.nav li{
		margin-right: 10px;
	}

	.nav li a{
		font-size: 20px;
	}

	.contenido{
		flex-direction: column;
	}

	.centro{
		width: 90%;
		padding: 20px;
	}
	.nav li ul{
		left: calc(100% - 700px);
   		top:40px;
	}
}


@media (max-width: 400px){
	
}

@media (min-width: 768px){

	.formulario-login{
		margin-top: 150px;
		width: 500px;
		margin: auto;
		border-radius: 10px;
	}
}